*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;

}

body {
  font-family: Arial, sans-serif;
    background: #EFF2FD;
  margin: 0;
  padding: 0;
}
header{
    height: 150px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#Logo{
    padding: 15px;
}
#Logo img{
height: 120px;
width: 120px;
 /* border: 1px solid black; */
}
button{
    padding: 7px;
    background-color: transparent;
    border-radius: 9px ;
    border: 1px;
    font-size: 17px;
}
.nav-links{
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.palce_information h5{
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
margin-top: 30px;
}
.palce_information{
       text-align: center;
    align-items: center;
    display: flex;
    justify-content: center
}



.box-container {
  width: 600px;
  margin: 40px auto;
   background: #EFF2FD;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 800px;
  display: flex;
  flex-direction: column;
}
.complaint-form{
  height: 90%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.box-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.box-intro {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.input-basse,
.textarea-basse {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #EFF2FD;
  border-radius: 4px;
}

.category-section {
  margin-bottom: 20px;
   background: #EFF2FD;
}

.category-section label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}

.connexion-button {
  background-color: #007bff;
   background: #afaaaa;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.connexion-button:hover {
  background-color: #dbdde0;
}

.help-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}
a{
    text-decoration: none;
  color: #666;
}